/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playwrite+IN+Guides&display=swap');



  .grid-container {
    display: grid;
    /* gap: 0vh; */

    /* padding: 10px; */
    margin-top: 60px; /* Adjust based on your navbar height */
    position: relative;
    height: calc(100vh - 80px);
    align-items: stretch;
    justify-items: stretch;
  }
  

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    padding: 5vh;
    margin-right: 0px;
    background-color:#f0f0f0 ;
    color: #36454F;
  }
  .item1 .tagline .start{
    font-family: 'oswald',serif;
    font-size: 20vh;
    font-weight: 250;
  }

  .item1 .tagline .end{
    font-family:'oswald',serif;
    font-size: 7.5vh;
    background-color: #36454F;
    color: #F0F0F0;
    padding-left: 1vh;
    padding-right: 1vh;
  }

/* .item1 .imgbg{
  display: none;
} */   
  
  .item2 {
    color: #36454F;
    grid-column: 1 / span 1;
    grid-row: 2;
    text-align: justify;
    padding: 5vh;
    width: 100vh;
    height: auto;
    background-color:#F0F0F0 ;
    font-family:  serif;
    font-size: 2vh;
  }

  .item3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-color: #36454F; /* Black background */
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Keeps video and text aligned */
}

.item3 video {
    max-width: 50%;
    height: auto;
}

.item3 .rotated-text {
    color: #36454F;
    background-color: #F0F0F0;
    font-size: 4vh;
    font-family:serif;
    /* transform: rotate(90deg); */
    white-space: nowrap; /* Prevents text from wrapping */
    border: 1px solid #F0F0F0;
    padding: 2px;
    
}

.item3 .rotated-text:hover{
    background-color: #36454F;
    color: #F0F0F0;
    transition: .5s;
}

.item2 p span{

    background-color: #36454F;
    color: #F0F0F0;
    padding: 2px;
}

a:hover{

  background-color: #36454F ;
  border-radius: 2px;
  padding: 1px;
  color:#F0F0F0;
  transition: 0.5s;

}


@media (max-width: 1199px) and (min-width: 768px) {
  .grid-container {
   
    height: auto; 
    
  }

 
  .item1 .tagline .start{
  
    font-size: 11vw; 
    
  }
  
  .item1 .tagline .end {
    font-size: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .item2 {
    padding: 4vw;
    width: 100%;   /* Use full available width */
    font-size: 2.5vh;
  }
  
  .item3 {
    order: -1; /* Moves video to the first row */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    padding: 0;
  }
  
  .item3 video {
    max-width: 60%;

    margin-left: 2vw;
  }
  
  .item3 .rotated-text {
    font-size: 2vw;
  }
}

@media (max-width: 767px) {
  .item2{
    display: none;
  }
  .item3{
    display: none;
  }

  .item1 {
  
    display: none;
  
  }
  



}