
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+IN+Guides&family=Style+Script&display=swap');

.about-container {
  
    text-align: center;
    padding-top: 20vh;

    background-color:#36454F ;
    color: #D3D3D3;
    min-height: 100vh;
    font-family: "oswald",serif;
    overflow-y: hidden;
  }
  
  .about-header {
    font-size: 5vw;
    margin-bottom: 40px;
  }
  
  /* Timeline */
  .timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Vertical Line */
  .line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 0%;
    background: #3f515c;
    transform: translateX(-50%);
  }
  
  /* Milestones */
  .milestone-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }
  
  /* Circle points on the line */
  .circle-point {
    width: 2vw;
    height: 2vw;
    background: #D3D3D3;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Left-side milestones */
  .left {
    justify-content: flex-start;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  /* Milestone Boxes */
  .milestone {
    width: 40%;
    background: #4A5763;
    padding: 2vw;
  
    border-radius: 1vw;
    text-align: center;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Year */
  .year {
    font-size: 2vw;
    font-weight: bold;
    color: #d3d3d3;
  }
  
  /* Description */
  .text {
    font-size: 1.5vw;
    color: #D3D3D3;
    font-family: "oswald",serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  }
  

 